.movieDetails {
  color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  & h1 {
    text-align: center;
  }
  & img {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    display: block;
  }
  & .description,
  .vote_average,
  .release_date {
    font-size: 18px;
    margin-top: 10px;
  }

  & em {
    color: #3cd1e1;
  }

  & .goBack {
    cursor: pointer;
    color: red;
  }
}
@media (max-width: 1279px) {
  .movieDetails {
    width: 95%;
  }

  .movieDetails img {
    max-width: 400px;
  }
}

@media (max-width: 999px) {
  .movieDetails img {
    max-width: 400px;
  }
}
