.search-input {
  flex: 5 2;

  & input {
    border: none;
    color: #fff;
    width: 100%;
    padding: 20px;
    -webkit-transition: all 3s ease-out;
    transition: all 3s ease-out;
    font-size: 20px;
    background-color: #2b0000;

    &:focus {
      outline: none;
      background-color: #000000 !important;
    }

    &::-webkit-input-placeholder {
      font-family: FontAwesome, "Barlow", sans-serif;
      font-weight: normal;
      overflow: visible;
      vertical-align: top;
      display: inline-block !important;
      padding-left: 5px;
      color: hsla(0, 0%, 100%, 0.582);
    }

    &::-moz-placeholder {
      font-family: FontAwesome, "Barlow", sans-serif;
      font-weight: normal;
      overflow: visible;
      vertical-align: top;
      display: inline-block !important;
      padding-left: 5px;
      color: hsla(0, 0%, 100%, 0.582);
    }

    &:-ms-input-placeholder {
      font-family: FontAwesome, "Barlow", sans-serif;
      font-weight: normal;
      overflow: visible;
      vertical-align: top;
      display: inline-block !important;
      padding-left: 5px;
      color: hsla(0, 0%, 100%, 0.582);
    }
  }
}

.search-input input:-webkit-autofill,
.search-input input:-webkit-autofill:hover,
.search-input input:-webkit-autofill:focus {
  background-color: #000000 !important;
  color: #fff !important;
}

@media (max-width: 768px) {
  .search-input {
    flex: 8 2;
  }
}
