.show-more {
  background: blue;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  font-family: "Barlow", sans-serif;
  margin: 30px auto 50px;
  width: 200px;
  display: block;
  text-align: center;
}
